.viewPort > .content {
    background: url(../img/icons/default.png) no-repeat 0 2.5em;
}

.viewPort > .content > section {
    background-image: url(../img/icons/about-team.png);
    background-repeat: no-repeat;
    background-position: -1.5em 2.5em;
    position: relative;
    background-color: white;
}

article#about-concept p {
    line-height: 1.2;
}

article#about-team > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -1.5em;
}

article#about-team > ul li {
    display: block;
}

article#about-team div.avatar-round {
    width: 12em;
    height: 12em;
}

#about-team .float-container-left {
    width: 15em;
}

#about-team .float-container-right {
    border-bottom: silver 2px dotted;
    width: 37em;
    min-height: 19em;
}

#about-team ul > li:last-child .float-container-right {
}

#about-team .float-container-right i {
    color: #555;
}

.viewPort > .content > section > article ul i {
    font-style: normal;
    font-weight: bolder;
}

.viewPort > .content > section > article ul i.name {
    text-transform: uppercase;
}

.viewPort > .content > section > article ul i.name:after,
.viewPort > .content > section > article ul i.nickName:after {
    content: '.';
}

.viewPort > .content > section > article ul i.nickName {
}

.viewPort > .content > section > article ul i.nickName:before {
    content: 'Игровое имя - ';
}

.viewPort > .content > section > article ul i.phone:before {
    content: 'Тел: ';
}

.viewPort > .content > section > article ul i.skype:before {
    content: 'Skype: ';
}

.viewPort > .content > section > article ul i.vkontakte:before {
    content: 'Vkontakte: ';
}

.viewPort > .content > section > article ul i.email:before {
    content: 'Email: ';
}

.viewPort > .content > section > article ul a {
    text-decoration: none;
}

.viewPort > .content > section > article ul i a {
    color: #555;
}

.viewPort > .content > section > article ul i a:hover {
    padding-bottom: 0;
    border-bottom: 2px dotted #999;
}

article#friends > ul > li {
    width: 33%;
    min-height: 5em;
    text-align: center;
    padding: 1em 0;
}

article#friends > ul > li > i {
    font-weight: bolder;
    min-height: 3em;
    display: block;
}

article#friends > ul > li p {
    margin: 0;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(#fff, #ccc);
    width: 16.5em;
    padding: 1em 0;
}

article#friends > ul > li img {
    max-width: 20em;
    max-height: 7em;
}

.curved-hz {
    display: inline-block;
    position: relative;
    background: #fff;
    margin: .5em;
}

.curved-hz-1 {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}

.curved-hz-1:before,
.curved-hz-1:after {
    content: "";
    position: absolute;
    z-index: 1;
}

.curved-hz-1:before {
    top: 50%;
    bottom: 0;
    left: 1em;
    right: 1em;
    -webkit-box-shadow: 0 0 1.5em rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 1.5em rgba(0, 0, 0, 1);
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 1);
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    border-radius: 5em;
}

.curved-hz-2 {
    border-radius: .5em;
}

section.gallery article div.img {
    display: inline-block;
    width: 25.6em;
    height: 19em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    overflow: hidden;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}

section.gallery article div img {
    width: 25.6em;
}

section.gallery article div img.wide {
    width: auto;
    min-height: 19em;
}

#sub-menu-selection {
    position: absolute;
    display: none;
    z-index: 10;
    height: 3px;
    margin-top: -3px;
}

div.avatar-round {
    float: left;
    background: #fff;
    padding: 0.2em;
    border: 1px solid #999;
    border-radius: 50%;
    box-shadow: 0 1px 1px 1px #bbb;
}

div.avatar-round > img {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    border-radius: 50%;
}

.float-container {
    display: -moz-inline-box;
    display: table;
}

.float-container-left {
    float: left;
    height: 100%;
    overflow: auto;
}

.float-container-right {
    float: left;
    height: 100%;
    overflow: auto;
    min-height: 10em;
}

.float-container-table {
    display: table;
    height: 100%;
    width: 100%;
}

.float-container-cell {
    display: table-cell;
    vertical-align: middle;
}

article#news li header {
    padding-bottom: 0;
}

article#news li {
    padding: 1em 0;
    border-top: silver 2px dotted;
}

article#news li:first-child {
    padding-top: 0;
    border-top: 0;
}