/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-family: arial, verdana, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

p {
    line-height: 1.2;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #05a5dc url(../img/background.jpg) no-repeat top center;
    width: 67em;
    margin: 0 auto;
    color: white;
}

div.viewPort {
    position: relative;
    min-height: 100vh;
    height: 100%;
    background: url(../img/logo.png) no-repeat right 2.5em;
}

.viewPort > header {
    display: inline-block;
    background: url(../img/background/logo.png) no-repeat;
    height: 205px;
    width: 515px;
    padding: 2.5em 4em;
    margin: 3em 0 6em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    text-shadow: 2px 2px 3px #555;
}

.viewPort > header > h1 {
    font-size: 34px;
    font-weight: bold;
    margin: 0;
}

.viewPort > nav, .viewPort > .content > section, .viewPort > footer {
    margin: 0 1.5em;
}

.viewPort > nav ul > li > a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.viewPort > nav .menu {
    position: relative;
    top: 1.5em;
    text-shadow: 2px 2px 3px #555;
}

.viewPort > nav .menu > ul {
    display: table-row;
    text-align: center;
}

.viewPort > nav .menu > ul > li {
    position: relative;
    display: table-cell;
    padding-right: 1em;
    white-space: nowrap;
    z-index: 1;
}

.viewPort > nav .menu > ul > li:first-child {
    padding-left: 1em;
}

.viewPort > nav .menu ul > li > a {
    display: table-cell;
    height: 3.125em;
    width: 20em;
    padding: 0 1.5em;
    background: url(../img/background/btn_blue_inactive.png) repeat-x center;
}

.viewPort > nav .menu ul > li > a.active {
    background: url(../img/background/btn_blue_active.png) repeat-x center;
}

.viewPort > nav .sub-menu {
    border-radius: 1em;
    background: url(../img/background/gradient_black.png) repeat-x;
    height: 4.5em;
    color: white;
    text-shadow: 1px 1px 2px #999;
}

.viewPort > nav .sub-menu ul {
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    line-height: 3.7em;
    display: inline-block;
    vertical-align: bottom;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.viewPort > nav .sub-menu ul li {
    display: inline;
}

.viewPort > nav .sub-menu ul li:first-child:before,
.viewPort > nav .sub-menu ul li:after {
    content: '';
    font-size: 20px;
    margin: 0 0.9em;
    text-shadow: none;
    border-right: 1px solid white;
}

.viewPort > nav .sub-menu ul a {
    font-size: 13px;
}

.viewPort > nav > .sub-menu > ul > li > i {
    display: none;
    vertical-align: middle;
    width: 0;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 1em;
}

.viewPort > .content > section {
    border-radius: 1em;
    min-height: 20em;
    margin-bottom: 5em;
    color: #333;
    padding: 1.5em 1.5em 1.5em 9em;
    display: none;
}

.viewPort > .content > section > article {
}

.viewPort > .content > section > article header {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 1em 0;
}

.viewPort .content > section > article > ul {
    margin: 0;
    padding: 0;
}

.viewPort > .content > section > article > ul > li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.viewPort > footer {
    position: absolute;
    background: #333;
    width: 64em;
    bottom: 0;
}

.viewPort > footer > ul {
    display: table-row;
}

.viewPort > footer > ul > li {
    min-width: 14em;
    display: table-cell;
    height: 3em;
    vertical-align: middle;
    padding-left: 12em;
}

.viewPort > footer > ul > li > i, .viewPort > footer > ul > li > address {
    font-size: .72em;
    text-shadow: 2px 2px 3px #555;
    font-style: normal;
    color: #ccc;
}

/* ==========================================================================
   sub-menu
   ========================================================================== */

.viewPort > nav > .sub-menu > ul.about > li > i.about-concept {
    display: inline-block;
    background-image: url(../img/icons/about-concept_s.png);
    width: 49px;
}

.viewPort > nav > .sub-menu > ul.about > li > i.about-team {
    display: inline-block;
    background-image: url(../img/icons/about-team_s.png);
    width: 40px;
}

.viewPort > nav > .sub-menu > ul.about > li > i.about-achievements {
    display: inline-block;
    background-image: url(../img/icons/about-achievements_s.png);
    width: 28px;
}

.viewPort > nav > .sub-menu > ul.gallery > li {

}

.viewPort > nav > .sub-menu > ul.gallery > li > i.gallery-challenge {
    display: inline-block;
    background-image: url(../img/icons/gallery-challenge_s.png);
    width: 30px;
}

.viewPort > nav > .sub-menu > ul.gallery > li > i.gallery-wizards {
    display: inline-block;
    background-image: url(../img/icons/gallery-wizards_s.png);
    width: 37px;
}

.viewPort > nav > .sub-menu > ul.gallery > li > i.gallery-pvd {
    display: inline-block;
    background-image: url(../img/icons/gallery-pvd_s.png);
    width: 37px;
}

.viewPort > nav > .sub-menu > ul.gallery > li > i.gallery-games {
    display: inline-block;
    background-image: url(../img/icons/gallery-games_s.png);
    width: 37px;
}

.viewPort > nav > .sub-menu > ul.gallery > li > i.gallery-trainings {
    display: inline-block;
    background-image: url(../img/icons/gallery-trainings_s.png);
    width: 29px;
}

.viewPort > nav > .sub-menu > ul.projects > li > i.projects-program {
    display: inline-block;
    background-image: url(../img/icons/projects-program_s.png);
    width: 34px;
}

.viewPort > nav > .sub-menu > ul.projects > li > i.projects-games {
    display: inline-block;
    background-image: url(../img/icons/projects-games_s.png);
    width: 27px;
}

.viewPort > nav > .sub-menu > ul.projects > li > i.projects-seminar {
    display: inline-block;
    background-image: url(../img/icons/projects-seminar_s.png);
    width: 42px;
}

.viewPort > nav > .sub-menu > ul.survive > li > i.survive-kids {
    display: inline-block;
    background-image: url(../img/icons/survive-kids_s.png);
    width: 34px;
}

.viewPort > nav > .sub-menu > ul.survive > li > i.survive-kids {
    display: inline-block;
    background-image: url(../img/icons/survive-kids_s.png);
    width: 51px;
}

.viewPort > nav > .sub-menu > ul.survive > li > i.survive-instructors {
    display: inline-block;
    background-image: url(../img/icons/survive-instructors_s.png);
    width: 16px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

