<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>О нас</title>
</head>

<body>
<article title="концепция" id="about-concept">
    <header>Мы вступили в XXI век. Что ждет нас в будущем?</header>

    <p>Этот вопрос всегда волновал людей во все века и эпохи. Многим хотелось бы заглянуть за этот таинственный
        занавес К сожалению на сегодняшний день, не становится больше лесов на нашей планете, также хищнически
        добываются полезные ископаемые. Промышленное и другое производство не становится безопаснее и безвреднее, а
        человек, изобретая новые технологии и окружая себя урбанизированным бытом, создавая новые вакцины, не становится
        сильнее.</p>

    <p>Стихийные бедствия, эпидемии, техногенные и экологические катастрофы не становятся редкостью и, к великому
        сожалению, именно Человек стал тем запускающим механизмом, который приводит к беде.</p>

    <p>Прогноз, на наш взгляд, не оптимистичен, но и не время говорить об апокалипсисе. В то же время он
        реалистичен: "что посеешь - то пожнешь"! И поэтому нужно сеять доброе, разумное, вечное. В мире всегда хватит
        места состраданию, доброте, человеколюбию.</p>

    <p>Имея определенный жизненный и педагогический опыт, а также конкретные результаты своей деятельности мы
        считаем, что приоритетной задачей общественности и государства, каждого из нас должно стать ВОСПИТАНИЕ.</p>

    <p>Мы акцентируем внимание на ВОСПИТАНИИ БЕЗОПАСНОГО ЭКОЛОГИЧЕСКОГО ВЫЖИВАНИЯ. По сути, это воспитание и
        формирование нового человека, нового мышления, нового отношения к той среде, частью которой он является.</p>

    <p>Мы не зовем обратно в пещеры и к каменному топору, а стараемся через общение с ПРИРОДОЙ научить людей
        понимать себя, окружающий мир, ведь ЗАКОНЫ ПРИРОДЫ И МИРОЗДАНИЯ ЕДИНЫ И ВЕЧНЫ.</p>
</article>

<article title="команда" id="about-team">
    <header>Команда</header>
    <ul>
        <li>
            <img src="img/team/shaman.jpg" class="avatar">
            <i class="name">Пыженко Виктор Викторович</i>
            <i class="nickName">Шаман</i>

            <p>
                Основатель Школы Выживания "Виктория". Экстрим – тренер, автор программ по выживанию в различных
                природных Хобби — рыбалка, охота (в том числе и подводная), фотография, дайвинг (дайвмастер,
                международная система PADI).
                Руководитель Некоммерческого Партнерства Лаборатория человека «Экосапиенс».
            </p>
            <i class="email">Strannik9@mail.ru</i>
        </li>

        <li>
            <img src="img/team/zmei.jpg" class="avatar">
            <i class="name">Пацай Дмитрий Владиславович</i>
            <i class="nickName">Змей</i>

            <p>
                В школе выживания занимается с 1996 года.
                У каждого человека есть свой Учитель. Им может быть родитель, педагог, любой Человек в жизни, который
                передает нам жизненный опыт. Я считаю, что в жизни каждого подростка, должен встретиться понимающий
                друг, мудрый наставник и сильный мужчина. Именно таким я стараюсь быть для каждого из моих
                воспитанников.
                Девиз: «Безопасность прежде всего»
            </p>
            <i class="phone">8 903 905 33 98</i>
            <i class="skype">masterzmei</i>
            <i class="vkontakte">http://vk.com/id4252316</i>
            <i class="email">zmei@cn.ru</i>
        </li>

        <li>
            <img src="img/team/bars.jpg" class="avatar">
            <i class="name">Федосеев Сергей Владимирович</i>
            <i class="nickName">Барс</i>

            <p>
                В школе выживания занимается с 2004 года. Умеренно экстремальный человек, готовый помочь в любой
                ситуации, немного альтруист — немного альпинист.
                Идет по жизни с девизом: «Лучше быть, чем казаться!»
            </p>
            <i class="phone">8 913 774 25 27</i>
            <i class="skype">Kulibin-F</i>
            <i class="vkontakte">http://vk.com/s.fedoseev</i>
            <i class="email">KulibinF@gmail.com</i>
        </li>

        <li>
            <img src="img/team/tarzan.jpg" class="avatar">
            <i class="name">Половников Никита Глебович</i>
            <i class="nickName">Тарзан</i>

            <p>
                В школе выживания занимается с 2004 года. Человек который за завтраком прыгает с парашютом, в обед
                покоряет вершину, а на ужин рассказывает детям сказку! Отзвычивый авантюрист.
                Девиз по жизни: «Never back down!»
            </p>
            <i class="phone">8 983 120 66 66</i>
            <i class="skype">Truetarzan</i>
            <i class="vkontakte">http://vk.com/id2445350</i>
            <i class="email">tarzan@cn.ru</i>
        </li>

        <li>
            <img src="img/team/alex.jpg" class="avatar">
            <i class="name">Григорьев Александр Евгеньевич</i>
            <i class="nickName">Алекс</i>

            <p>
                В школе выживания занимается с 2001 года. Активный, добрый и ответственный парень. Очень коммуникабелен,
                может найти общий язык с людьми разных поколений. Увлекается музыкой (фортепиано), футболом, туризмом.
                Девиз: «Бороться и искать, найти и не сдаваться!»
            </p>
            <i class="phone">+7 961 847 25 05</i>
            <i class="skype">alex-shb</i>
            <i class="vkontakte">http://vk.com/id3313236</i>
            <i class="email">alex251089@yandex.ru</i>
        </li>

        <li>
            <img src="img/team/kao.jpg" class="avatar">
            <i class="name">Анисцов Андрей Сергеевич</i>
            <i class="nickName">Као</i>

            <p>
                В Школе Безопасности с 2002 года. Очень разносторонний и многогранный человек. В своей жизни опробовал
                много разнообразной деятельности: от экстремальной уличной акробатики и тяжелой атлетики до изучения
                восточного искусства и актерского мастерства. Организация оригинальной досуговой деятельности для детей
                и взрослых — его второе я.
            </p>
            <i class="phone">8 913 707 88 11</i>
            <i class="skype">andrey.aniscov</i>
            <i class="vkontakte">http://vk.com/id2020497</i>
            <i class="email">andrey.aniscov@yandex.ru</i>
        </li>
    </ul>
</article>

<article title="достижения" id="about-achievements">
    <header>Достижения</header>

    <div>
        <img src="img/1/bars.jpg">
    </div>
    <p>Nullam adipiscing sollicitudin turpis, eu imperdiet augue congue a. Sed dapibus, neque iaculis laoreet
        tempus,
        justo est accumsan enim, eu volutpat mauris nisi varius lectus. Vestibulum ultrices tincidunt metus, viverra
        dapibus orci lobortis sit amet. Aenean elementum est massa, at pellentesque quam feugiat gravida. Morbi
        tempor
        iaculis massa eu molestie. Curabitur felis neque, condimentum a ornare nec, accumsan id felis. Sed felis
        velit,
        volutpat vitae pharetra sollicitudin, porta eu dolor. Donec neque eros, tincidunt in lacinia nec, aliquet eu
        odio. Donec vestibulum dolor est, in pretium felis tempus eu. Nullam consequat auctor lacus at imperdiet.
        Fusce
        nisl purus, lobortis sit amet velit sed, aliquam auctor lorem. Sed id eros vitae arcu mollis dignissim id
        sed
        justo. Vivamus nulla felis, lacinia id malesuada a, vulputate eget tellus. Phasellus sit amet tristique
        justo.
        Curabitur lectus libero, tristique sed velit nec, pretium ullamcorper diam. Donec adipiscing adipiscing erat
        eu
        consequat.</p>
</article>

</body>
</html>