<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>О нас</title>
</head>

<body>
<article title="" id="friends">
    <ul>
        <li>
            <i>Туристко-спортивный центр «Панда»</i>
            <a href="#">
                <img src="img/friends/panda.jpg" class="logo">
            </a>
        </li>

        <li>
            <i>«FRESH GROUP»</i>
            <a href="http://freshgroup54.ru/">
                <img src="img/friends/logo_fresh_group.png" class="logo">
            </a>
        </li>

        <li>
            <i>Команда Экстриммастер</i>
            <a href="#">
                <img src="img/friends/ex_master.jpg" class="logo">
            </a>
        </li>

        <li>
            <i>МБОУ СОШ 188</i>
            <a href="http://s_188.edu54.ru/"></a>
        </li>
    </ul>

</article>

</body>
</html>