<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Галерея</title>
</head>

<body>
<article title="испытай себя" id="gallery-challenge">
    <img src="gallery/challenge/1.jpg">
    <img src="gallery/challenge/2.jpg">
    <img src="gallery/challenge/3.jpg">
    <img src="gallery/challenge/4.jpg">
    <img src="gallery/challenge/5.jpg">
    <img src="gallery/challenge/6.jpg">
    <img src="gallery/challenge/7.jpg">
    <img src="gallery/challenge/8.jpg">
    <img src="gallery/challenge/9.jpg">
    <img src="gallery/challenge/10.jpg">
</article>

<article title="пещерные чародеи" id="gallery-wizards">
</article>

<article title="пвд" id="gallery-pvd">
</article>

<article title="приключенческий игры" id="gallery-games">
</article>

<article title="тренировки" id="gallery-trainings">
</article>

</body>
</html>