<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Галерея</title>
</head>

<body>
<article title="испытай себя" id="gallery-challenge">
    <img src="gallery/challenge/1.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/2.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/3.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/4.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/5.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/6.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/7.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/8.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/9.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/10.jpg" alt="Подпись к фотографии">
</article>

<article title="пещерные чародеи" id="gallery-wizards">
    <img src="gallery/challenge/4.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/5.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/6.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/7.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/8.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/9.jpg" alt="Подпись к фотографии">
</article>

<article title="пвд" id="gallery-pvd">
    <img src="gallery/challenge/7.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/8.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/9.jpg" alt="Подпись к фотографии">
    <img src="gallery/challenge/10.jpg" alt="Подпись к фотографии">
</article>

<article title="приключенческие игры" id="gallery-games">
    <img src="gallery/challenge/9.jpg">
    <img src="gallery/challenge/10.jpg">
    <img src="gallery/challenge/4.jpg">
    <img src="gallery/challenge/5.jpg">
    <img src="gallery/challenge/6.jpg">
</article>

<article title="тренировки" id="gallery-trainings">
    <img src="gallery/challenge/5.jpg">
    <img src="gallery/challenge/6.jpg">
    <img src="gallery/challenge/7.jpg">
    <img src="gallery/challenge/8.jpg">
    <img src="gallery/challenge/9.jpg">
</article>

</body>
</html>