<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Новости</title>
</head>

<body>
<article title="Новости" id="news">
    <ul>
        <li>
            <h3>День рождение Школы Выживания «Виктория»</h3>

            <p>
                Дорогие друзья! 29 сентября мы празднуем наш День Рождения, нам исполняется 17 лет. Приглашаем всех Вас
                к нам на праздник. Ждем Вас 29 сентября в 10-00 на поляне Экосапиенс
            </p>

            <h3>Тренировки ШВ</h3>

            <p>
                С середины с сентября начнутся тренировки в Школе Выживания «Виктория», они будут проходить в школе №
                188, по адресу: ул. Курганская, 36/а. Будем рады Вас видеть. Подробнее можете узнать у <a
                    href="#/about-team/bars">Барса</a> или
                <a href="#/about-team/tarzan">Тарзана</a>.
            </p>
        </li>
        <li>
            <hr>
        </li>
        <li>
            <i class="name">Федосеев Сергей Владимирович</i>
            <i class="nickName">Барс</i>

            <i class="phone">8 913 774 25 27</i>
            <i class="skype">Kulibin-F</i>
            <i class="vkontakte">http://vk.com/s.fedoseev</i>
            <i class="email">KulibinF@gmail.com</i>

        </li>
        <li>
            <hr>
        </li>
        <li>

            <i class="name">Половников Никита Глебович</i>
            <i class="nickName">Тарзан</i>

            <p>
                В школе выживания занимается с 2004 года. Человек который за завтраком прыгает с парашютом, в обед
                покоряет вершину, а на ужин рассказывает детям сказку! Отзвычивый авантюрист.
                Девиз по жизни: «Never back down!»
            </p>
            <i class="phone">8 983 120 66 66</i>
            <i class="skype">Truetarzan</i>
            <i class="vkontakte">http://vk.com/id2445350</i>
            <i class="email">tarzan@cn.ru</i>
        </li>
        <li>
            <hr>
        </li>
    </ul>
</article>

</body>
</html>