<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Новости</title>
</head>

<body>
<article id="news">
    <ul>
        <li>
            <header>День рождение Школы Выживания «Виктория»</header>
            <p>
                Дорогие друзья! 29 сентября мы празднуем наш День Рождения, нам исполняется 17 лет. Приглашаем всех Вас
                к нам на праздник. Ждем Вас 29 сентября в 10-00 на поляне Экосапиенс
            </p>
        </li>
        <li>
            <header>Тренировки ШВ</header>
            <p>
                С середины с сентября начнутся тренировки в Школе Выживания «Виктория», они будут проходить в школе №
                188, по адресу: ул. Курганская, 36/а. Будем рады Вас видеть. Подробнее можете узнать у
                <a href="#/about-team/team-bars">Барса</a> или
                <a href="#/about-team/team-tarzan">Тарзана</a>.
            </p>
        </li>
    </ul>
</article>

</body>
</html>