<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>О нас</title>
</head>

<body>
<article title="Проект 1" class="about-team">
    <header>Проект 1</header>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sit amet odio quis tempus. Aenean
        fermentum ligula in dui porta, a mattis nisi dictum. Maecenas dapibus erat sit amet lacus cursus consequat.
        Phasellus vitae dolor non dolor pulvinar pulvinar. Nulla facilisi. Aliquam luctus imperdiet tellus at
        sodales.
        Curabitur rutrum consequat metus, in hendrerit tortor vehicula eget. Ut dapibus volutpat porta. Phasellus
        interdum interdum libero, id posuere enim scelerisque quis. Etiam commodo in nulla sit amet feugiat. Nulla
        hendrerit lacinia vulputate. Vivamus quis mi eget lacus vehicula ornare. In sollicitudin fringilla elit, sit
        amet scelerisque felis interdum non. Proin pellentesque metus eget ipsum dictum dignissim.</p>
</article>

<article title="Проект 2" class="about-achievements">
    <header>Проект 2</header>

    <p>Nullam adipiscing sollicitudin turpis, eu imperdiet augue congue a. Sed dapibus, neque iaculis laoreet
        tempus,
        justo est accumsan enim, eu volutpat mauris nisi varius lectus. Vestibulum ultrices tincidunt metus, viverra
        dapibus orci lobortis sit amet. Aenean elementum est massa, at pellentesque quam feugiat gravida. Morbi
        tempor
        iaculis massa eu molestie. Curabitur felis neque, condimentum a ornare nec, accumsan id felis. Sed felis
        velit,
        volutpat vitae pharetra sollicitudin, porta eu dolor. Donec neque eros, tincidunt in lacinia nec, aliquet eu
        odio. Donec vestibulum dolor est, in pretium felis tempus eu. Nullam consequat auctor lacus at imperdiet.
        Fusce
        nisl purus, lobortis sit amet velit sed, aliquam auctor lorem. Sed id eros vitae arcu mollis dignissim id
        sed
        justo. Vivamus nulla felis, lacinia id malesuada a, vulputate eget tellus. Phasellus sit amet tristique
        justo.
        Curabitur lectus libero, tristique sed velit nec, pretium ullamcorper diam. Donec adipiscing adipiscing erat
        eu
        consequat.</p>
</article>

<article title="Проект 3" class="about-team">
    <header>Проект 3</header>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sit amet odio quis tempus. Aenean
        fermentum ligula in dui porta, a mattis nisi dictum. Maecenas dapibus erat sit amet lacus cursus consequat.
        Phasellus vitae dolor non dolor pulvinar pulvinar. Nulla facilisi. Aliquam luctus imperdiet tellus at
        sodales.
        Curabitur rutrum consequat metus, in hendrerit tortor vehicula eget. Ut dapibus volutpat porta. Phasellus
        interdum interdum libero, id posuere enim scelerisque quis. Etiam commodo in nulla sit amet feugiat. Nulla
        hendrerit lacinia vulputate. Vivamus quis mi eget lacus vehicula ornare. In sollicitudin fringilla elit, sit
        amet scelerisque felis interdum non. Proin pellentesque metus eget ipsum dictum dignissim.</p>
</article>

<article title="Проект 4" class="about-team">
    <header>Проект 4</header>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sit amet odio quis tempus. Aenean
        fermentum ligula in dui porta, a mattis nisi dictum. Maecenas dapibus erat sit amet lacus cursus consequat.
        Phasellus vitae dolor non dolor pulvinar pulvinar. Nulla facilisi. Aliquam luctus imperdiet tellus at
        sodales.
        Curabitur rutrum consequat metus, in hendrerit tortor vehicula eget. Ut dapibus volutpat porta. Phasellus
        interdum interdum libero, id posuere enim scelerisque quis. Etiam commodo in nulla sit amet feugiat. Nulla
        hendrerit lacinia vulputate. Vivamus quis mi eget lacus vehicula ornare. In sollicitudin fringilla elit, sit
        amet scelerisque felis interdum non. Proin pellentesque metus eget ipsum dictum dignissim.</p>
</article>

</body>
</html>