<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Проекты</title>
</head>

<body>
<article title="Программы" id="projects-program">
    <div class="column" style="display: table-cell">
        <div class="program">
            <h1>Испытай себя</h1>

            <h2>10 дней / 9 ночей</h2>

            <p>
                Программа проводится во время летних каникул, и включает в себя сплав на катамаранах, по очень
                живописной реке Бердь. Насыщена игровыми технологиями, позволяющими эффективно давать знания и навыки.
            </p>

            <b>Участников программы обучают:</b>
            <ul>
                <li>Ориентироваться в лесу</li>
                <li>Разводить костёр</li>
                <li>Устанавливать лагерь</li>
                <li>Готовить пищу</li>
                <li>Выполнять действия по оказанию необходимой первой помощи.</li>
            </ul>

            <b>В программу входит:</b>
            <ul>
                <li>4-х разовое питание.</li>
                <li>Доставка к началу маршрута и возвращение</li>
                <li>в г. Новосибирск автобусом.</li>
                <li>Всё необходимое снаряжение. Дети берут с собой только личную одежду. Рекомендуемый список одежды мы
                    указываем.
                </li>
            </ul>

            <p>
                Программа работает уже восемь лет. В ней учавствуют воспитанники «Школы Безопасности», помогая
                подросткам осваивать азы «выживания».
            </p>

            <p>
                <i>Возраст участников от 11 до 17 лет</i>
                <i>Количество участников в группе одного заезда 25 человек.</i>
            </p>

        </div>

        <div class="program">
            <h1>Пещерные Чародеи</h1>

            <h2>7 дней / 6 ночей</h2>

            <p>
                Очень популярна, в дни осенне-весенних каникул, среди школьников.
            </p>

            <b>В программу входит:</b>
            <ul>
                <li>Ориентироваться в лесу</li>
                <li>Разводить костёр</li>
                <li>Устанавливать лагерь</li>
                <li>Готовить пищу</li>
                <li>Выполнять действия по оказанию необходимой первой помощи.</li>
            </ul>

            <b>В программу входит:</b>
            <ul>
                <li>Посещение 2-х пещер (Ящик Пандоры, Археологическая)</li>
                <li>2-х музеев</li>
                <li>Радиальные выходы (Тропа Шамана, Лунная гора)</li>
                <li>Ну и конечно развлекательные мероприятия.</li>
            </ul>

            <b>А так же:</b>
            <ul>
                <li>Проезд ж/д транспортом до станции Шира</li>
                <li>Автобус до села Малая Сыя</li>
                <li>Проживание в избушках</li>
                <li>4-х разовое питание</li>
                <li>Снаряжение</li>
                <li>Баня</li>
                <li>Сувениры</li>
            </ul>

            <p>
                Хакасия – край памятников древней культуры и сказочных ландшафтов.
            </p>

            <p>
                <i>Проводится по мере комплектования групп.</i>
            </p>
        </div>
    </div>

    <div class="column">
        <div class="program">
            <h1>школа робинзонов</h1>

            <h2>7 дней / 6 ночей</h2>

            <p>
                Детская развивающая программа, построенная на игровых технологиях втягивания ребенка в процесс обучения.
                Позволяет ребятам, через игровые и сценические действия максимально включиться в образ робинзонов,
                которые через игру получают первые навыки самостоятельного обеспечения себя в природных условиях.
            </p>

            <p>
                Данная программа проводится в стационарном палаточном лагере на площадке «Экосапиенс» с радикальными
                однодневными выходами за пределы лагеря.
            </p>

            <p>
                <i>Возраст участников от 6 до 10 лет.</i>
            </p>
        </div>

        <div class="program">
            <h1>Поход выходного дня</h1>

            <h2>Не более 4-х дней</h2>

            <p>В дни летних каникул и весенних праздников не редко наступают такие моменты, когда ребенку нечем
                заняться. Родители на работе, а он один прозябает в четырех стенах.
            </p>

            <p>
                Мы предлагаем вам серию походов выходного дня (ПВД), в которых ребенок приобретет определенные навыки
                туризма и выживания, и просто хорошо проведет время. Проводиться на стационарной площадке (база отдыха,
                детский лагерь НСО, Алтай, Красноярск, Байкал).
            </p>

            <b>Тематика похода по вашим заявкам, будь то: </b>
            <ul>
                <li>Выживание</li>
                <li>Самооборона</li>
                <li>Скалолазание</li>
                <li>Ориентирование на местности</li>
                <li>Медицина</li>
            </ul>

            <p>
                Чаще всего проводятся комбинированные походы, в которых затрагивают несколько тем.
            </p>

            <p>
                <i>Возраст участников от 10 до 17 лет.</i>
                <i>В идеале группа должна быть не менее 15 человек.</i>
            </p>
        </div>
    </div>
</article>

<article title="Игры" id="projects-games">
</article>

<article title="Семинары" id="projects-seminar">
</article>

</body>
</html>